
body{
    font-family: 'DM Sans', sans-serif;
    background: url(requre.jpg);
    height:100vh;
    background-size: cover;
}
.all{
    position: absolute;
    top:10%;
    left:5%;
    font-size:25px;
    font-weight:100;
    line-height: 50px;
    background-color: antiquewhite;
    border:2px solid black;
    height:400px;
}